<div class="p-3">
  <h2 class="my-3">Agregar Producto</h2>
    <form id="postForm">
       <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title"name="title" class="form-control">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Prices</label>
        <input id="price" name="price" class="form-control">
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label" >Thumbnail</label>
        <input type="file" id="thumbnail" name="thumbnail" class="form-control" >
      </div>
      <input type="submit" class="btn btn-primary">      
    </form>
     <a href="http://localhost:8080/products"class="btn btn-primary my-3">Ver productos </a>
</div>
<script src="js/newProduct.js"></script> 