<div class="p-3">
  <h2 class="my-3"> Productos</h2>
   <table class="table mb-3">
      <thead>
         <tr>
         <th scope="col">Title</th>
         <th scope="col">Price</th>
         <th scope="col">Thumbnail</th>  
      </tr>
   </thead>
   <tbody>
      {{#if hasProducts}}
      {{#each products}}
      <tr>            
         <td>{{this.title}}</td>
         <td>{{this.price}}</td>
         <td><img src="img/{{this.thumbnail}}" /></td>
      </tr>      
      {{/each }}
      {{else}}
      <h2 class="my-3"> No hay productos</h2>
      {{/if }}
   </tbody>
   </table>
   <a href="http://localhost:8080"class="btn btn-primary">Crear nuevo producto </a>
</div>


